body{
  background-color: #00AFC1;
  color: white;
}

hr{
  border-color: white;
  border-style: none;
  border-top-style: dotted;
  height: 2px;
  border-width: 5px;
  width: 30%;
}

h1{
  color: black;
}

h3{
  color: black;
}

  .myButton {
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  }
  .myButton:hover {
  background-color:#5cbf2a;
  }
  .myButton:active {
  position:relative;
  top:1px;
  }
